.container {
  display: flex;
  flex-wrap: wrap;
}

.container p {
  margin: 0px;
}

.item1 {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.item2 {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
}

.item3 {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
}
