body {
  margin: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  padding-top: 48px;
  padding-bottom: 56px;
  overflow-y: scroll;
}

.container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.content-container {
  position: relative;
  height: 100%;
  display: flex;
}

.left {
  position: relative;
  height: 100%;
  padding: 20px;
  background-color: lightgreen;
  overflow-y: scroll;
}

.right {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  background-color: lightcoral;
  flex: 1 1 auto;
}

.header {
  width: 100%;
  margin: 0px;
  background-color: lightskyblue;
}
